div {
    white-space: pre-wrap;
}

.container {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

.imgPosition {
    position: relative;
    margin: 30px;
    display: flex;
    justify-content: center;
}

.laptop {
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 20px 0 40px 0;
    z-index: 800;
    position: relative;
}

.screen {
    position: absolute;
    padding: 2% 0 0 2% ;
    width: 45.5%;
    height: 56%;
    background-color: rgb(20, 20, 20);
    top: 30px;
    left: 27%;
    color: #65AFFF;
    text-align: left;
    font-size: 10px;
}

@media only screen and (max-width: 1150px) {
    .screen {
        font-size: 8.5px;
    }
}

@media only screen and (max-width: 1000px) {
    .container {
        width: 80%;
    }

    .screen {
        left: 28%;
        width: 46%;
        font-size: 9px;
    }
}

@media only screen and (max-width: 850px) {
    .container {
        width: 100%;
    }

    .imgPosition {
        margin: 0;
    }

    .screen {
        left: 27%;
        width: 46%;
        font-size: 9px;
    }
}