.macContainer {
    position: relative;
}

.screens {
    position: absolute;
    width: 270px;
    top: 11px;
    left: 25px;
}

.macImage {
    position: absolute;
    width: 152px;
    height: 100px;
    top: 23px;
    left: 54px;
}

.phoneImage {
    position: absolute;
    width: 34px;
    height: 61px;
    top: -101px;
    left: 201px;
}

.tabletImage {
    position: absolute;
    width: 56px;
    height: 76px;
    top: -60px;
    left: 235px;
}

.findOutMore {
    width: 50%;
    height: 40px;
    position: absolute;
    top: -50px;
    left: 86px;
    color: rgb(243,243,243);
    opacity: 0;
    font-size: 20px;
}