.macContainer {
    position: relative;
}

.screens {
    position: absolute;
    width: 300px;
    top: 11px;
    left: 20px;
}

.macImage {
    position: absolute;
    width: 168px;
    height: 100px;
    top: 24px;
    left: 52px;
}

.phoneImage {
    position: absolute;
    width: 37.25px;
    height: 66px;
    top: -104.75px;
    left: 215.75px;
}

.tabletImage {
    position: absolute;
    width: 61px;
    height: 87px;
    top: -56px;
    left: 254px;
}

.findOutMore {
    width: 50%;
    height: 40px;
    position: absolute;
    top: -50px;
    left: 86px;
    color: rgb(243,243,243);
    opacity: 0;
    font-size: 20px;
}